[Desktop Entry]
Name[af]=Sakrekenaar
Name[ar]=آلة حاسبة
Name[as]=গণক
Name[ast]=Calculadora
Name[az]=Hesaplayıcı
Name[be@latin]=Kalkulatar
Name[be]=Калькулятар
Name[bg]=Калкулатор
Name[bn_IN]=ক্যালকুলেটর
Name[bn]=ক্যালকুলেটর
Name[bs]=Računalo
Name[ca]=Calculadora
Name[ca@valencia]=Calculadora
Name[cs]=Kalkulačka
Name[cy]=Cyfrifiannell
Name[da]=Lommeregner
Name[de]=Taschenrechner
Name[dz]=རྩིས་འཕྲུལ།
Name[el]=Αριθμομηχανή
Name[en_CA]=Calculator
Name[en_GB]=Calculator
Name[en@shaw]=𐑒𐑨𐑤𐑒𐑿𐑤𐑱𐑑𐑼
Name[eo]=Kalkulilo
Name[es]=Calculadora
Name[et]=Kalkulaator
Name[eu]=Kalkulagailua
Name[fa]=ماشین‌حساب
Name[fi]=Laskin
Name[fo]=Roknimaskina
Name[fr]=Calculatrice
Name[fur]=Calcoladorie
Name[ga]=Áireamhán
Name[gd]=Àireamhair
Name[gl]=Calculadora
Name[gu]=કૅલ્ક્યુલેટર
Name[he]=מחשבון
Name[hi]=कैलकुलेटर
Name[hr]=Kalkulator
Name[hu]=Számológép
Name[hy]=Հաշվիչ
Name[id]=Kalkulator
Name[it]=Calcolatrice
Name[ja]=電卓
Name[ka]=კალკულატორი
Name[kab]=Tamsiḍent
Name[kk]=Калькулятор
Name[km]=ម៉ាស៊ីន​គិត​លេខ
Name[kn]=ಕ್ಯಾಲ್ಕುಲೇಟರ್
Name[ko]=계산기
Name[lt]=Skaičiuotuvas
Name[lv]=Kalkulators
Name[mai]=कैलकुलेटर
Name[mg]=Milina mpikajy
Name[mjw]=Calculator
Name[mk]=Калкулатор
Name[ml]=ഗണനി
Name[mn]=Тооны машин
Name[mr]=गणनयंत्र
Name[ms]=Kalkulator
Name[my]=ဂဏန်းတွက်စက်
Name[nb]=Kalkulator
Name[ne]=गणकयन्त्र
Name[nl]=Rekenmachine
Name[nn]=Kalkulator
Name[oc]=Calculadoira
Name[or]=କାଲକୁଲେଟର
Name[pa]=ਕੈਲਕੂਲੇਟਰ
Name[pl]=Kalkulator
Name[pt_BR]=Calculadora
Name[pt]=Calculadora
Name[ro]=Calculator
Name[ru]=Калькулятор
Name[si]=ගණකය
Name[sk]=Kalkulačka
Name[sl]=Računalo
Name[sq]=Makinë llogaritëse
Name[sr@latin]=Kalkulator
Name[sr]=Калкулатор
Name[sv]=Kalkylator
Name[ta]=கணிப்பான்
Name[te]=గణన పరికరం
Name[tg]=Калкулатор
Name[th]=เครื่องคิดเลข
Name[tk]=Çot
Name[tr]=Hesap Makinesi
Name[ug]=ھېسابلىغۇچ
Name[uk]=Калькулятор
Name[vi]=Máy tính bỏ túi
Name[xh]=Ikhaltyuleyitha
Name[zh_CN]=计算器
Name[zh_HK]=計數機
Name[zh_TW]=計算機
Name=Calculator
Comment[af]=Voer rekenkundige, wetenskaplike of finansiële berekeninge uit
Comment[ar]=قم بحسابات رياضيّة وعلميّة وماليّة
Comment[as]=গণিতিক, বিজ্ঞানভিত্তিক অথবা আৰ্থিক গণনাসমূহ কৰক
Comment[ast]=Fai cálculos aritméticos, científicos o financieros
Comment[be]=Арыфметычныя, навуковыя і фінансавыя разлікі
Comment[bg]=Извършване на аритметични, научни или финансови изчисления
Comment[bn_IN]=গণিত, বৈজ্ঞানিক অথবা অর্থনৈতিক প্রণালী করুন
Comment[bn]=গাণিতিক, বৈজ্ঞানিক অথবা অর্থনৈতিক গণনা সম্পাদন করা হবে
Comment[bs]=Obavi aritmetičke, naučne ili finansijske proračune
Comment[ca]=Realitzeu càlculs aritmètics, científics o financers
Comment[ca@valencia]=Realitza càlculs aritmètics, científics o financers
Comment[cs]=Provádějte aritmetické, vědecké i finanční výpočty
Comment[da]=Udfør aritmetiske, videnskabelige eller finansielle udregninger
Comment[de]=Arithmetische, wissenschaftliche und finanztechnische Berechnungen durchführen
Comment[dz]=མཚན་རིགས་ དངུལ་འབྲེལ་ ཡང་ན་ ཨང་རྩིས་ཀྱི་ རྩིས་ལས་ཀྱི་ ལས་འགན་བསྒྲུབ་ 
Comment[el]=Εκτελεί αριθμητικούς, επιστημονικούς ή εμπορικούς υπολογισμούς
Comment[en_CA]=Perform arithmetic, scientific or financial calculations
Comment[en_GB]=Perform arithmetic, scientific or financial calculations
Comment[en@shaw]=𐑐𐑼𐑓𐑹𐑥 𐑼𐑦𐑔𐑥𐑩𐑑𐑦𐑒, 𐑕𐑲𐑩𐑯𐑑𐑦𐑓𐑦𐑒 𐑹 𐑓𐑲𐑯𐑨𐑯𐑖𐑩𐑤 𐑒𐑨𐑤𐑒𐑿𐑤𐑱𐑖𐑩𐑯𐑟
Comment[eo]=Fari aritmetikajn, sciencajn aŭ financajn kalkulojn
Comment[es]=Realice cálculos aritméticos, científicos o financieros
Comment[et]=Aritmeetilised, teaduslikud ja finantsarvutused
Comment[eu]=Egin kalkulu aritmetikoak, zientifikoak edo finantzarioak
Comment[fa]=انجام محاسبات ریاضی، علمی و مالی
Comment[fi]=Suorita aritmeettisia, tieteellisiä tai talouslaskutoimituksia
Comment[fo]=Avrika talfrøðiskar, vísindaligar ella fíggjarligar útrokningar
Comment[fr]=Effectue des calculs arithmétiques, scientifiques ou financiers
Comment[fur]=Eseguìs calcui aritmetics, sientifics o finanziaris
Comment[gd]=Dèan cunntadh àireamhachd, saidheansail no ionmhais
Comment[gl]=Realice cálculos aritméticos, científicos ou financeiros
Comment[gu]=ગાણિતીક, વૈજ્ઞાનિક અથવા આર્થિક ગણતરીઓ કરો
Comment[he]=ביצוע חישובים פשוטים, מדעיים או כלכליים
Comment[hi]=अंकगणित, वैज्ञानिक या वित्तीय गणना करें
Comment[hr]=Izvodite aritmetičke, znanstvene ili financijske izračune
Comment[hu]=Aritmetikai, tudományos vagy pénzügyi számítások végrehajtása
Comment[hy]=Կատարել թվաբանական, գիտական կամ ֆինանսական հաշվարկներ
Comment[id]=Lakukan perhitungan aritmetik, ilmiah, atau keuangan
Comment[it]=Esegue calcoli aritmetici, scientifici e finanziari
Comment[ja]=算術/科学/財務の計算を行います
Comment[ka]=არითმეტიკული, სამეცნიერო და ფინანსური გამოთვლები
Comment[kk]=Қарапайым, ғылыми не қаржылық есептеулерді жүргізу
Comment[km]=អនុវត្ត​ការ​គណនា​គណិតវិទ្យា វិទ្យាសាស្ត្រ ឬ​ហិរញ្ញវត្ថុ
Comment[kn]=ಗಣಿತ, ವೈಜ್ಞಾನಿಕ ಅಥವಾ ಹಣಕಾಸಿನ ಲೆಕ್ಕಚಾರಗಳನ್ನು ಮಾಡಿ
Comment[ko]=일반 연산, 과학, 재무용 계산을 합니다
Comment[lt]=Atlikti aritmetinius, mokslinius ar finansinius skaičiavimus
Comment[lv]=Veikt aritmētiskus, zinātniskus vai finansiālus aprēķinus
Comment[mjw]=Perform arithmetic, scientific or financial calculations
Comment[mk]=Извршете аритметички, научни или финансиски пресметки
Comment[ml]=അരിതമെറ്റിക്, ശാസ്ത്രീയം അല്ലെങ്കില്‍ ധനകാര്യ സംബന്ധമായ കണക്കുകൂട്ടലുകള്‍ നടത്തുക
Comment[mr]=अंकगणित, शास्त्रीय किंवा वित्तीय गणना चालवून पहा
Comment[ms]=Buat pengiraan aritmatik, saintifik dan kewangan
Comment[nb]=Utfør aritmetiske, vitenskapelige eller finansielle utregninger
Comment[ne]=अंकगणितीय, वैज्ञानिक वा आर्थिक गणनाहरू कार्यसम्पादन गर्नुहोस्
Comment[nl]=Voer rekenkundige, wetenschappelijke of financiële berekeningen uit
Comment[nn]=Utfør aritmetiske, vitskaplege eller finansielle utregningar
Comment[oc]=Efectua de calculs aritmetics, scientifics o financièrs
Comment[or]=ଗାଣିତିକ,ବୈଜ୍ଞାନିକ କିମ୍ବା ଆର୍ଥିକ ହିସାବ କରନ୍ତୁ
Comment[pa]=ਗਣਿਤ, ਵਿਗਿਆਨਕ ਜਾਂ ਵਿੱਤੀ ਗਣਨਾ ਕਰੋ
Comment[pl]=Wykonanie obliczeń arytmetycznych, naukowych lub finansowych
Comment[pt_BR]=Efetue cálculos aritméticos, científicos ou financeiros
Comment[pt]=Realize cálculos aritméticos, científicos ou financeiros
Comment[ro]=Efectuează calcule aritmetice, științifice și financiare
Comment[ru]=Вычисления: арифметические, научные и финансовые
Comment[sk]=Vykonáva aritmetické, vedecké alebo finančné výpočty
Comment[sl]=Izvajanje aritmetičnih, znanstvenih ali finančnih izračunov
Comment[sq]=Kryen llogari aritmetikore, shkencore ose financiare
Comment[sr@latin]=Izvršavajte aritmetičke, naučne ili finansijske proračune
Comment[sr]=Извршавајте аритметичке, научне или финансијске прорачуне
Comment[sv]=Utför aritmetiska, vetenskapliga eller finansiella beräkningar
Comment[ta]=கணித, அறிவியல் அல்லது பொருளாதார கணக்குகளை செய்கிறது.
Comment[te]=బీజీయ, శాస్త్రీయ లేదా ఆర్ధిక గణనలను ప్రదర్శించు
Comment[tg]=Иҷрои ҳисобҳои арифметикӣ, илмӣ ё молиявӣ 
Comment[th]=คำนวณเลขคณิต ฟังก์ชันวิทยาศาสตร์ หรือการเงิน
Comment[tr]=Aritmetik, bilimsel ve finansal hesaplamalar gerçekleştirir
Comment[ug]=ئارىفمېتىكىلىق، ئىلمىي ياكى ئىقتىسادىي ھېساباتلارنى ئېلىپ بېرىش پروگراممىسى
Comment[uk]=Виконання арифметичних, наукових або фінансових розрахунків
Comment[vi]=Chạy phép tính kiểu số học, khoa học hay tài chính
Comment[zh_CN]=执行算术、科学或财务计算
Comment[zh_HK]=進行數字、科學或金融的計算
Comment[zh_TW]=進行數字、科學或財務計算
Comment=Perform arithmetic, scientific or financial calculations
# Translators: Search terms to find this application. Do NOT translate or localize the semicolons! The list MUST also end with a semicolon!
Keywords[ar]=calculation;arithmetic;scientific;financial;الحسابية;الرياضية;العلمية;المالية;
Keywords[as]=গণনা;গণিতিক;বিজ্ঞানভিত্তিক;আৰ্থিক;
Keywords[be]=calculation;arithmetic;scientific;financial;вылічэнне;разлікі;арыфметыка;навука;фінансы;
Keywords[bg]=калкулатор;аритметични;научни;финансови;изчисления;calculation;arithmetic;scientific;financial;
Keywords[bn_IN]=গণনা;পাটিগণিত;বৈঞ্জানিক;অার্থিক;
Keywords[bs]=raču;aritmetika;naučni;finansijski;
Keywords[ca]=càlcul;aritmètic;científic;financer;
Keywords[ca@valencia]=càlcul;aritmètic;científic;financer;
Keywords[cs]=kalkulace;výpočty;vědecká;finanční;
Keywords[da]=udregning;aritmetik;videnskabelig;finansiel;regning;lommeregner;matematik;
Keywords[de]=Taschenrechner;Rechner;Arithmetisch;Wissenschaftlich;Finanztechnisch;
Keywords[el]=υπολογισμός;αριθμητικός;επιστημονικός;οικονομικός;calculation;arithmetic;scientific;financial;
Keywords[en_GB]=calculation;arithmetic;scientific;financial;
Keywords[eo]=kalkulilo;kalkuli;aritmetiko;scienca;financa;
Keywords[es]=cálculo;aritmética;científica;financiera;
Keywords[et]=arvutamine;arvutused;kalkuleerimine;kalkulaator;aritmeetika;teaduslik;finants;
Keywords[eu]=kalkulua;aritmetikoa;zientifikoa;finantzarioa;
Keywords[fa]=محاسبه;ریاضی;علمی;مالی;
Keywords[fi]=calculation;arithmetic;scientific;financial;laskenta;laskut;laskutoimitus;aritmetiikka;aritmeettinen;tieteellinen;tiede;talous;talouslaskut;
Keywords[fo]=útrokning;talfrøði;vísindaligur;fíggjarligur;rokning;lummaroknari;støddfrøði;
Keywords[fr]=calcul;arithmétique;scientifique;finances;financier;
Keywords[fur]=calcui;calcoladorie;aritmetic;sientific;finanziari;
Keywords[gd]=cunntadh;àireamhachadh;àireamhachd;saidheans;saidheansail;ionmhas;ionmhais;
Keywords[gl]=calculo;aritmético;científico;financeiro;
Keywords[gu]=ગણતરી;ગાણિતીક;વૈજ્ઞાનિક;આર્થિક;
Keywords[he]=חישוב;חשבון;מחשבון;מדעי;פיננסי;
Keywords[hi]=गणना;अंकगणित;वैज्ञानिक;वित्तीय;
Keywords[hr]=izračuni;aritmetika;znanost;financije;
Keywords[hu]=számítás;aritmetikai;tudományos;pénzügyi;
Keywords[id]=kalkulasi;aritmetik;ilmiah;keuangan;
Keywords[it]=calcolo;calcolatrice;aritmetica;scientifica;finanziaria;
Keywords[ja]=calculation;arithmetic;scientific;financial;算術;科学;財務;calculator;計算機;
Keywords[ka]=გაანგარიშება;მათემატიკა;არითმეტიკა;სამეცნიერო;
Keywords[kk]=calculation;arithmetic;scientific;financial;есептеу;калькулятор;арифметика;ғылыми;қаржылық;
Keywords[km]=អនុវត្ត​; ការ​គណនា​គណិតវិទ្យា; វិទ្យាសាស្ត្រ; ​ហិរញ្ញវត្ថុ;
Keywords[kn]=ಲೆಕ್ಕಾಚಾರ;ಅರಿತ್‌ಮೆಟಿಕ್;ವೈಜ್ಞಾನಿಕ;ಹಣಕಾಸು;
Keywords[ko]=calculation;계산;계산기;arithmetic;연산;scientific;과학;공학;financial;재무;
Keywords[lt]=skaičiavimai;aritmetika;moksliniai;finansiniai;
Keywords[lv]=aprēķins;aritmētika;zinātnisks;finansiāls;
Keywords[mjw]=calculation;arithmetic;scientific;financial;
Keywords[ml]=calculation;arithmetic;scientific;financial;
Keywords[mr]=कॅलक्युलेशन;अरिथमेटिक;साइंटिफिक;फाइनँशिअल;
Keywords[ms]=pengiraan;aritmatik;saintifik;kewangan;
Keywords[nb]=regning;aritmetikk,vitenskapelig;finans;
Keywords[ne]=अंकगणितीय;वैज्ञानिक;आर्थिक;गणनाहरू;
Keywords[nl]=calculation;arithmetic;scientific;financial;rekenkundig;wetenschappelijk;financieel;
Keywords[oc]=calcul;aritmetic;scientific;finances;financièr;
Keywords[or]=ହିସାବ;ଗାଣିତିକ;ବୈଜ୍ଞାନିକ;ଆର୍ଥିକ;
Keywords[pa]=ਗਣਨਾ;ਗਿਣਤੀ;ਹਿਸਾਬ;ਵਿਗਿਆਨਕ;ਵਿੱਤ;ਵਿੱਤੀ;
Keywords[pl]=obliczenia;liczenie;arytmetyczne;naukowe;finansowe;
Keywords[pt_BR]=cálculo;cálculos;aritmético;científico;científica;financeiro;financeira;aritmética;
Keywords[pt]=calcular;aritmética;científica;financeira;
Keywords[ro]=calculation;arithmetic;scientific;financial;calculare;aritmetic;științific;financiar;calculator;
Keywords[ru]=вычисление;арифметические;научные;финансовые;
Keywords[sk]=výpočty;aritmetické;vedecké;finančné;
Keywords[sl]=računanje;izračunavanje;aritmetika;znanstveni izračuni;finančni izračuni;računalo;kalkulator;abakus;
Keywords[sr@latin]=računanje;aritmetika;nauka;finansije;proračun;
Keywords[sr]=рачунање;аритметика;наука;финансије;прорачун;
Keywords[sv]=uträkning;aritmetik;vetenskaplig;finansiell;
Keywords[ta]=கணக்கிடுதல்;கணிதம்; அறிவியல்;பொருளாதாரம்;
Keywords[te]=calculation;arithmetic;scientific;financial;
Keywords[tg]=ҳисобкунӣ;арифметикӣ;илмӣ;молиявӣ;
Keywords[th]=คำนวณ;คิดเลข;เลขคณิต;วิทยาศาสตร์;การเงิน;
Keywords[tr]=calculator;calculation;arithmetic;scientific;financial;hesaplama;aritmetik;bilimsel;finansal;
Keywords[ug]=calculation;arithmetic;scientific;financial;ھېسابلاش;
Keywords[uk]=калькулятор;арифметика;науковий;фінансовий;
Keywords[vi]=calculation;arithmetic;scientific;financial;bàn;tính;ban;tinh;toán;tài;chính;tai;chinh;khoa;học;hoc;
Keywords[zh_CN]=calculation;arithmetic;scientific;financial;计算;算术;科学;财务;
Keywords[zh_HK]=calculation;arithmetic;scientific;financial;科學;金融;計算;
Keywords[zh_TW]=calculation;arithmetic;scientific;financial;科學;金融;財務;計算;計算機;數字;數學;算數;算術;程式設計;單位轉換;轉換;
Keywords=calculation;arithmetic;scientific;financial;
Exec=true %U
# Translators: Do NOT translate or transliterate this text (this is an icon file name)!
Icon=org.gnome.Calculator
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Utility;Calculator;
X-Purism-FormFactor=Workstation;Mobile;
