.*
!/.gitignore
*ucode.bin
*ucode[x0-9].bin
dlarray*.bin
flashpatches.c
templateram.bin
templateram[0-9].bin
vasip.bin
rom.bin
43439A0.bin
clm.bin
d11ucode_*.bin
d11ucodex_*.bin
d11smc*.bin
sr_source_code_*.bin
rtecdc_dongle.bin
rtecdc_pageable.bin
