!/.gitignore
/build/
/captures/
/app/src/main/local/
/app/build/outputs/
/app/build/generated/
/app/build/reports/
/app/build/intermediates/
/app/build/test-results/
/app/build/tmp/
!/app/src/main/external/src/libnl/.gitignore
local.properties
*.iml
.gradle
/.idea/workspace.xml
/.idea/libraries
/.idea
.DS_Store
.externalNativeBuild